
.main-container{
  width: 75%;
  height: 680px;
  background-color: #3CB878;
  margin: 1% auto;
  font-family: Work Sans;  

}

.header {
  
  height:5%;
  /* border:1px solid black; */
  display: flex;
  justify-content: flex-start;
  margin: 0 5% 0 5%;
  background-color: #215584;
  
}

button.git-hub,button.MDN,button.stack-overflow {
  margin:0.5% 0% 0.5% 1%;
  background-color: yellow;
}

.search-bar-container {
  display: flex; 
  flex-flow: row wrap; 
  margin: 0 5% 0 5%;
  /* border: 1px solid black; */
  height: 8%;


  justify-content: space-around;
  /* flex-grow: 1; */
  /* align-items: center; */
  
}

label.search-label, input.search-bar, button.search-button {
  margin-top:1%;
  /* flex-grow:1; */
  /* margin-left:10%; */
  /* margin-left:10px; */
  /* width:50px; */
}
label.search-label{
  width:33%;
  /* border: 1px solid black;   */
  font-weight: bold;
  font-size: 30px;
}
input.search-bar {
  background: transparent;
  border-radius: 10px;
  width: 50%;
  color:#757575;
  font-weight: bold;
  font-size: 30px;
  border-bottom: 1px solid black;
}
button.search-button{
  border-radius: 10px;
  background: transparent;
  width:10%;
  font-weight: bold;
  font-size: 30px;
}

.description-and-authenticate {
  /* border:1px solid black; */
  height:22%;
  width: 90%;
  display: flex;
  margin: 1% auto;
}
.description {
  width: 70%;
  height: 80%;
  /* border: 1px solid black; */
  margin:1%;
}

.repository-name {
  /* border: 1px solid black; */
  height: 30%;
  background-color: #FFFF04;
  font-weight: bold;
  font-size: 25px;
}

.repository-description {
  margin-top: 5%;
  font-weight: bold;
  font-size: 20px;
}
.repository-last-commit {
  font-style: italic;
  font-size: 15px;
}
.authenticate {
  width: 25%;
  height: 80%;
  /* border: 1px solid black; */
  margin: 1%;
  display:flex;
  flex-flow: column wrap; 
  justify-content: space-around;
}

/* .authenticate-label {
  
} */

label.authenticate-label{
  border-bottom: 1px solid black;
  height:21%;
  font-weight: bold;
  font-size: 25px;
}

input.user-name, input.password {
  background: transparent;
  /* border: 1px black solid; */
  height:21%
  
}
button.login-button {
  height:21%;
  background-color: #215584;
}

.commits-and-recommened-container {
  height:60%;
  width: 90%;
  display: flex;
  margin: 1% auto;
  /* border: 1px solid black; */
}

.commits-container {
  width: 70%;
  height: 95%;
  /* border: 1px solid black; */
  margin:1%;
  overflow: auto;
  
}

.commits-title {
  /* border-bottom: 1px solid black; */
  height: 8%;
  background-color: #FFFF04;
  font-weight: bold;
  font-size: 25px;

}

.commets-content {
}

.single-committer-and-time {
  margin-bottom:2%;
}
.recommended {
  width: 25%;
  height: 95%;
  /* border: 1px solid black; */
  margin: 1%;
  display:flex;
  flex-flow: column wrap; 
  /* justify-content: space-around; */
}

.recommended-title{
  border-bottom: 1px solid black;
  height: 8%;
  font-weight:bold;
  font-size:25px;
  display:flex;
  flex-flow: row wrap;
  


}

.recommended-content {
  display: flex;
  flex-flow: column wrap; 
  

  
}

.recommended-content a:hover {
  cursor: pointer;
}


