.container {
  display: flex;
  flex-direction: row-reverse;
}

.green {
  background: green;
  height: 300px;
  width: 25%;
}
.yellow {
  background: yellow;
  height: 300px;
  width: 50%;
}

.purple {
  background: purple;
  height: 300px;
  width: 25%;
}