.container {
  height: 600px;
  background-color: yellow;
  display: flex;
  align-items: center;
  padding: 0px;
  /* justify-content: flex-start; */
}

.item {
  width: 200px;
  height: 200px;
  background-color: purple;
  margin-right: 10px;
  list-style-type: none;
}